@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6 {@apply font-serif;}

h2{
    @apply text-6xl;
}

@font-face {
    font-family: 'legatum';
    src: local('legatum'), local('Legatum'), url('/fonts/legatum/Legatum-Bold.otf');
    font-weight: 600;
    font-display: swap;

}

@font-face {
    font-family: 'legatum';
    src: local('legatum'), local('Legatum'), url('/fonts/legatum/Legatum-ExtraBold.otf');
    font-weight: 700;
    font-display: swap;

}

@font-face {

    font-family: 'Souvenir';
    src: url('/fonts/Souvenir/Souvenir.ttf');
    font-weight: normal;
    font-display: swap;

}
@font-face {
    font-family: 'Souvenir';
    src: url('/fonts/Souvenir/SouvenirB.ttf');
    font-weight: 600;
    font-display: swap;

}

body{
    background-color: #000;
    
    margin-bottom: 0;
    color: #efefef;
}

::-webkit-scrollbar {
    width: 10px;
    

  }

::-webkit-scrollbar-track {
    background: #000;
  }

  ::-webkit-scrollbar-thumb {
    background: #1b1b1b;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3b3b3b;
  }

  img{
    @apply lg:p-16;
  }

  h3{
    @apply justify-start;
  }